body{
    background-color: rgb(206, 248, 245);
    color: black
}

span{
    color: green;
}

.Contagem{
    background-color: white;
    padding: 20px 0;
    text-align: center;
}

.objetivos{
    color: black;
    padding: 20px;
    font-size: 12px;
}